/** GERIAS **/
*{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
    font-weight: 600;
}
/** HEADER ***/
#header .collapse{
    width: auto;
}

#header .navbar-brand{
    padding-bottom: .5rem;
}

#header .nav-link{
    border-bottom: 2px solid transparent;
}

#header .nav-link:hover{
    border-bottom: 2px solid #ffc107;
}

#header a.logout:hover{
    border-bottom: 2px solid #ffc107;
}

#header a.logout{
    text-decoration: none;
}

/** TABLE **/
#table .update-form{
    display: flex;
    flex-direction: row;
}

#table i{
    font-size: 20px;
}

#table .status{
    width: 65%;
}

/** MAX WIDTH **/
@media screen and (max-width: 991.98px){
    #header .navbar-collapse{
        width: 100%;
    }

    #header .justify-content-end{
        justify-content: start !important;
    }

    #header a.logout{
        display: block;
        width: 100%;
        padding-left: 0;
    }

    #table span{
        display: none;
    }

    #table thead th{
        padding: 0;
    }

    #table thead th:nth-child(5),
    #table thead th:nth-child(6),
    #table tbody td:nth-child(5),
    #table tbody td:nth-child(6){
        display: none;
    }
}