<header id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="{{path}}/" class="navbar-brand">
                <img 
                    src="{{path}}/resources/images/pizza.svg" 
                    alt="Pizzaria" 
                    class="img-fluid"
                    id="brand-logo"
                >
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{path}}" class="nav-link">Peça sua pizza</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<p class="alert alert-success d-none d-block">Lindomar</p>