<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <h2 class="card-header">Login</h2>
                <div class="card-body">
                    {{status}}
                    <form method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="email" name="email" class="form-control" required placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha:</label>
                            <input type="password" name="senha" class="form-control" required placeholder="********">
                        </div>
                        <div class="mb-3">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-box-arrow-in-right"></i>
                            Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>